*,
*::before,
*::after {
    --azul-escuro: #154580;
    --azul-medio: #3970BE;
    --azul-claro: #E5F1FF;
    --cinza-texto: #444444;
    --cinza-claro: #ECECEC;
    --preto: black;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: var(--azul-claro);
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    font-size: 14px;
    color: white;
    box-sizing: border-box;
    text-align: center;
}

/* CABEÇALHO */

.cabecalho__container {
    background-color: white;
    height: 80px;
    width: 100%;
    padding: 0 25px;
}

.logo__item {
    background-image: url(../img/cabecalho/logoVideoFLix.png);
    background-repeat: no-repeat;
    padding: 5px 95px;
    padding-top: 40px;
    cursor: pointer;
}

.pesquisar__input {
    width: 260px;
    height: 32px;
    border: 1px solid rgb(211, 211, 211);
    font-size: 16px;
    padding: 3px 8px;
    border: 1px solid rgb(211, 211, 211);
    color: var(--cinza-texto);
}

/* .pesquisar__label {
    background-image: url(../img/cabecalho/search.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgb(211, 211, 211);
    background-color: #F9F9F9;
    border-left: none;
    padding: 7px 15px 6px;
    cursor: pointer;
} */

.cabecalho__icones__item {
    display: flex;
    gap: 15%;
}

/* .cabecalho__audio {
    background-image: url(../img/cabecalho/mic.png);
    padding: 20px;
    display: none;
} */

.cabecalho__videos {
    display: flex;
    flex-direction: column;
    background-image: url(../img/cabecalho/up_videos.png); 
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
    color: black;
}

/* .cabecalho__apps {
    background-image: url(../img/cabecalho/apps.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

.cabecalho__notificacoes {
    background-image: url(../img/cabecalho/notifications.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
} */

.cabecalho__avatar {
    background-image: url(../img/cabecalho/Avatar.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

/* Formulário */

.formulario-container {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.formulario-container form {
    display: flex;
    flex-direction: column;
    
}

.formulario-container input {
    background-color: rgb(91, 91, 117);
}

.formulario-container button {
    background-color: black;
    color: white;
}

.formulario-container select {
    background-color: white;
    color: black;
    border: black;
}

.formulario-container option {
    background-color: white;
    color: black;
    border: black;
}


/* MENU LATERAL */

.menu__container {
    background-color: var(--preto);
    font-size: 14px;
    display: none;
}

.menu__itens:hover {
    background-color: var(--azul-medio);
    transition: .5s;
}

.icone__inicio::before {
    content: url(../img/menu/home.png);
}

.icone__explorar::before {
    content: url(../img/menu/explore.png);
}

.icone__shorts::before {
    content: url(../img/menu/shorts.png);
}

.icone__inscricoes::before {
    content: url(../img/menu/subscriptions.png);
}

.icone__biblioteca::before {
    content: url(../img/menu/video_library.png);
}

.icone__historico::before {
    content: url(../img/menu/history.png);
}

.icone__relogio::before {
    content: url(../img/menu/history_toggle_off.png);
}

.icone__like::before {
    content: url(../img/menu/thumb_up_alt.png);
}

.icone__liluzi::before {
    content: url(../img/menu/liluzivert.jpg);
}

.icone__mushroomhead::before {
    content: url(../img/menu/mushroomhead.png);
}

.icone__famousdex::before {
    content: url(../img/menu/famousdex.jpg);
}

.icone__yunglean::before {
    content: url(../img/menu/yunglean.jpg);
}

.icone__mudvayne::before {
    content: url(../img/menu/mudvayne.jpg);
}

.icone__korn::before {
    content: url(../img/menu/korn.jpg);
}

.icone__future::before {
    content: url(../img/menu/future.jpg);
}

.icone__mostrar::before {
    content: url(../img/menu/keyboard_arrow_down.png);
}

.icone__videos::before {
    content: url(../img/menu/videos.png);
}


/* SECAO SUPERIOR */

.superior__secao__container {
    height: 63px;
    width: 100%;
    color: white;
    font-size: 16px;
    background: linear-gradient(to right,var(--azul-claro) 15%, black 50%, var(--azul-claro)) 15%;
    padding: 0px;
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
}

.superior__item {
    color: var(--cinza-texto);
    font-size: 16px;
    background-color: white;
    border-radius: 20px;
    padding: 8px 20px;
    cursor: pointer;
}

.superior__item:hover {
    color: white;
    background-color: var(--preto);
    transition: .5s;
}

/* SEÇÃO VÍDEOS */

.videos__container {
    display: grid;
    color: var(--cinza-texto);
    background-color: white;
    gap: 16px; /* Espaçamento entre os itens */
    padding: 153px 20px 10px 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Define um mínimo e máximo para as colunas */
    
}

.videos__item {
    
}


.videos__item li {
    height: 200px; /* Altura fixa */
    width: 200px; /* Largura total */
    
}

.videos__item:hover {
    /* transform: scale(1.1); */
    background-color: var(--cinza-claro);
    z-index: 2;
    transition: .5s;

}

/* Miniaturas dentro dos vídeos */
.videos__item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra toda a área sem distorcer */
}

.descricao-video h3 {
    font-weight: 700;
    color: var(--cinza-texto);
}

.descricao-video p {
    font-size: 14px;
    color: var(--cinza-texto);
}


/* RODAPÉ */

.rodape__container {
    width: 100%;
    height: 875px;
    color: var(--cinza-texto);
    line-height: 1.5;
    font-size: 16px;
    background-color: white;
}

.rodape__titulo {
    color: var(--preto);
    font-weight: bold;
    padding: 10px 0 20px 0;
}

@media(max-width: 834px) {
.logo__item{
    display: none;
}

.pesquisar__input {
    width: 60%;
}

.superior__secao__container {
    width: 100%;
}

.superior__item {
    width: 40%;
    font-size: x-small;
    font-weight: bold;
}



}

@media(min-width: 834px) {

    body {
        height: 100vh;
    }

    /* ESTILOS DO MENU LATERAL */

    /* .menu__container {
        font-size: 16px;
        display:flex;
    }

    .menu__lista {
        padding-top: 15px;
    } */

    /* .menu__lista li {
        width: 100%;
    } */

    /* ESTILOS DA SECAO SUPERIOR */

    .superior__secao__container {
        border-top: var(--azul-medio) 1px solid;
        border-bottom: var(--azul-medio) 1px solid;
        width: auto;
        /* left: 82px; */
    }

    /*ESTILOS SEÇÃO VÍDEOS */

    .videos__container {
        /* padding-left: 90px; */
        padding-right: 17px;
    }

    .videos__item:hover {
        transform: scale(1.1);
    }

    /* ESTILOS RODAPÉ */

    .rodape__container {
        height: 420px;
        /* padding-left: 74px; */
    }

}

@media(min-width: 1440px) {

    /* SEÇÃO SUPERIOR */

    /* .superior__secao__container {
        left: 247px;
    } */

    /* ESTILOS DO MENU LATERAL */

    /* .menu__lista {
        border-bottom: 1.5px solid var(--azul-medio);
    } */

    /* ESTILOS VIDEOS */

    .videos__container {
        padding-right: 10px;
        /* padding-left: 248px; */
    }

    /* ESTILOS RODAPÉ */

    .rodape__container {
        /* padding-left: 240px; */
        height: 225px;
    }

}